<div class="grid-x grid-padding-x">
  <div class="cell">

    <div class="district-header">
      <h1>
        <a href="#main">
          {{model.boro}} Community District {{model.cd}}
        </a>
      </h1>
      <div class="section-menu hide-for-print">
        <ul class="menu">
          <li><a href='#indicators'>Indicators</a></li>
          <li><a href='#built-environment'>Built Environment</a></li>
          <li><a href='#community-board'>Community Board</a></li>
          <li><a href='#projects'>Projects</a></li>
          <li><a href='#resources'>Resources</a></li>
        </ul>
      </div>
    </div>

    <div class="district-content">
      <div class="neighborhoods-list">
        {{model.neighborhoods}} {{info-tooltip tip="Neighborhoods may be in multiple districts. Neighborhood names and boundaries are not officially designated."}}
      </div>

      <section class="page-section">
        <hr class="hide-for-large"><br class="show-for-large">

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 large-12 xlarge-7">

            <h4 class="subsection-header"><strong>Population</strong></h4>
            <div class="callout">
              <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-6 large-4 text-center">
                  <span class="stat">{{numeral-format d.pop_2000 '0.0a'}}</span>
                  <span class="stat-footer">2000 Census</span>
                </div>
                <div class="cell small-6 large-4 text-center">
                  <span class="stat">{{numeral-format d.pop_2010 '0.0a'}}</span>
                  <span class="stat-footer">2010 Census <small class="dark-gray">({{numeral-format d.pop_change_00_10 '+0%'}})</small></span>
                </div>
                <div class="cell small-12 large-4 text-center cell-divider--population">
                  <span class="lead">
                    {{#if d.shared_puma}}
                      N/A
                    {{else}}
                      {{numeral-format d.pop_11_15_acs '0.0a'}}
                    {{/if}}
                  </span>
                  <small class="stat-footer">2011-2015 Estimate {{info-tooltip tip="American Community Survey 5-year Estimates. Population estimate is N/A for districts that share a PUMA; data cannot be reliably disaggregated."}}</small>
                </div>
              </div>
            </div>

            <h4 class="subsection-header"><strong>Population by Age {{info-tooltip tip=d.acs_tooltip}}</strong></h4>
            <div class="callout">
              {{age-pyramid data=agePopDist}}
            </div>

          </div>
          <div class="cell medium-6 large-12 xlarge-5">

            <div class="grid-x grid-padding-x">
              <div class="cell large-6 xlarge-12">

                <h4 class="subsection-header"><strong>Area &amp; Density {{info-tooltip tip="Density is calculated using 2010 Census population. Density may vary drastically within a community district."}}</strong></h4>
                <div class="callout text-center">
                  <div class="grid-x grid-margin-x align-middle">
                    <div class="cell small-6 -large-12">
                      <span class="stat">{{numeral-format d.area_sqmi '0.0'}}</span>
                      <span class="stat-footer">square miles</span>
                    </div>
                    <div class="cell small-6 -large-12 cell-divider--density">
                      <span class="lead">{{numeral-format popDensity '0,0'}}</span>
                      <small class="stat-footer">persons per sq mi</small>
                    </div>
                  </div>
                </div>

              </div>
              <div class="cell large-6 xlarge-8">

                <h4 class="subsection-header"><strong>Foreign-Born Population {{info-tooltip tip=d.acs_tooltip}}</strong></h4>
                <div class="callout text-center">
                  <span class="stat">
                    {{numeral-format d.pct_foreign_born '0.0'}}%
                  </span>
                  <small class="stat-footer">of residents are <a href="https://www.census.gov/topics/population/foreign-born/about.html" target="_blank">foreign-born</a></small>
                </div>

              </div>
              <div class="cell xlarge-10">

                <h4 class="subsection-header"><strong>Race &amp; Hispanic Origin {{info-tooltip tip=d.acs_tooltip}}</strong></h4>
                <div class="callout">
                  {{horizontal-bar data=racialProfile height=150 barLabel=false xMax=100}}
                </div>

              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="page-section">
        <a id="indicators" class="offset-anchor"></a>
        <h3 class="section-header">
          <a href='#indicators'>{{fa-icon "bar-chart"}} Indicators</a>
        </h3>

        <div class="grid-x grid-padding-x align-bottom">
          <div class="cell medium-8 xlarge-9">
            <p class="section-header-description">The information below provides a snapshot of key socio-economic, demographic, and select service performance indicators. To provide further context, the selected district is displayed in comparison to all 59 community districts; where available, borough and City benchmarks are provided. The entire set of indicators may be downloaded in the Resources section below.</p>
          </div>
          <div class="cell medium-4 xlarge-3 medium-text-right">
            <span class="chart-legend">
              <span class="estimate"></span>&nbsp;Estimate
              &nbsp;
              <span class="moe"></span>&nbsp;Margin of Error
            </span>
          </div>
         </div>

        {{#key-indicators class="key-indicators"
                          indicators=columns
                          boro=model.boro
                          cd=model.cd
                          borocd=d.borocd as |data|}}
          {{#data.indicator class="indicator" name='Age Under 18'
                            column='under18_rate'
                            moe='moe_under18_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.under18_rate
                            boro_stat=d.under18_rate_boro
                            city_stat=d.under18_rate_nyc}}
            of residents are under the age&nbsp;of&nbsp;18
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Age 65 & Over'
                            column='over65_rate'
                            moe='moe_over65_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.over65_rate
                            boro_stat=d.over65_rate_boro
                            city_stat=d.over65_rate_nyc}}
            of residents are age 65 and over
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Rent Burden'
                            column='pct_hh_rent_burd'
                            moe='moe_hh_rent_burd'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.pct_hh_rent_burd
                            boro_stat=d.pct_hh_rent_burd_boro
                            city_stat=d.pct_hh_rent_burd_nyc}}
            of households <a href="https://www.census.gov/topics/housing/about.html" target="_blank">spend 35% or more of their income on&nbsp;rent</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Mean Commute to Work'
                            column='mean_commute'
                            moe='moe_mean_commute'
                            tip=d.acs_tooltip
                            cd_stat=d.mean_commute
                            boro_stat=d.mean_commute_boro
                            city_stat=d.mean_commute_nyc}}
            <a href="https://www.census.gov/topics/employment/commuting/about.html" target="_blank">minutes</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Educational Attainment'
                            column='pct_bach_deg'
                            moe='moe_bach_deg'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.pct_bach_deg
                            boro_stat=d.pct_bach_deg_boro
                            city_stat=d.pct_bach_deg_nyc}}
            of residents age 25 years and over have <a href="https://www.census.gov/topics/education/educational-attainment/about.html" target="_blank">earned a bachelor's degree or&nbsp;higher</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Limited English Proficiency'
                            column='lep_rate'
                            moe='moe_lep_rate'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.lep_rate
                            boro_stat=d.lep_rate_boro
                            city_stat=d.lep_rate_nyc}}
            of residents self-identify as having <a href="https://www.census.gov/topics/population/language-use/about.html" target="_blank">limited English&nbsp;proficiency</a>
          {{/data.indicator}}
          {{#data.indicator class="indicator" name='Unemployment'
                            column='unemployment_cd'
                            moe='moe_unemployment_cd'
                            tip=d.acs_tooltip
                            unit='%'
                            cd_stat=d.unemployment_cd
                            boro_stat=d.unemployment_boro
                            city_stat=d.unemployment_nyc}}
            of the <a href="https://www.census.gov/topics/employment/labor-force.html" target="_blank">civilian labor force is unemployed</a>
          {{/data.indicator}}
        {{/key-indicators}}

      </section>
    </div>

    {{outlet}}

  </div>
</div>
